@tailwind base;
@tailwind components;
@tailwind utilities;

.errorState{
    border: 2px solid tomato;
    background: rgb(250, 215, 215);
    outline: none;
}
.errorState :focus{
    border: 2px solid tomato;
}